button {
    margin-top: 1.4rem;
    width: 100%;
    height: 3rem;
    background-color: #40E0D0;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    filter: brightness(0.95);
    transition: 0.1s;
}

.field {
    margin-top: 1rem;
}
.field input{
    display: inline-block;
    padding-left: 10px;
    margin-left:15px;
    margin-top: 0.6rem;
    height: 3rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    background-color: rgb(245, 240, 240);
    border-radius: 5px;
    border: 0;
    outline: 0;
}
label p{
    color: red;
}



